body{
    margin: 0 auto;
    background-color: #2E112D;
    background-image: url("../../assets/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;	
	background-position: absolute;
    background-position-y: -60px;

}

.container{
    width: 35%;
    height: 80%;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius:4px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
.regform{
    margin: 0;
    margin-top:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input [type="password"],[type="text"],[type="password"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 10px;
}

.form-input::before{
position: absolute;
font-family: "FontAwesome";
padding-left: 5px;
color: #9B5986;
padding-top: 5px;
font-size: 35px;
}

.btn-login{
padding: 15px 30px;
cursor: pointer;
color: #fff;
border-radius: 4px;
border: none;
background-color: #c62323;
border-bottom: 4px solid #991616;
margin-bottom: 20px;
font-weight: bold;
}

a{
color:#fff;
text-decoration: none;
}

input:hover{
font-weight: bold;
}

.btn-login:hover{
color: #6b0202;
font-weight: bold;
}

.show{
visibility: visible;
text-align: left;
padding: 25px 25px 25px 25px;
color: #fff;
}

.hide{
visibility: hidden;
display: none;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
    background-color: rgba(29, 28, 56,0.5);
-webkit-box-shadow: 0 0 3px rgba(29, 28, 56,0.5);
}
::selection{
background-color: #ffdbc5;
}


